celery[redis]==4.4.5
channels_redis==2.4.2
channels==2.4.0
dj-database-url==0.5.0
django-filter==2.3.0
django-object-actions==2.0.0
django==3.0.14
djangorestframework==3.11.2

pytest
pytest-asyncio
pytest-django
